

div{
    border-radius: 5px;
}


.top{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image:url(/img/snow_winter_trees.jpg);
    background-size: cover;
    border: red solid 3px;
    flex-direction: column;
}
.topbilder{
    border: red solid 3px;
    border-radius: 5px ;
    padding: 5px;
    padding-top: 10px;
    margin: 6px;
}
.bilder{
    max-width: 100px;
    height: 25px;
    margin-left: 100px;
    margin-right: 100px;
    border: 3px solid black;
    border-radius: 5px ;
    padding: 5px;
}

.snrtjul{
    margin-bottom: 250px;
}



h1{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.mid{
padding: 10px;
display: flex;
gap: 10px;
border: 3px solid red;
}


.vänster{
display: flex;
flex-direction: column;
align-items: center;
width: 20%;
gap: 20px;
border: 3px solid red;
}

.vänster img{
    height: 20px;
}

.mitten{
width: 75%;
border: solid red;
}

.höger{
    width: 100px;
    border: solid red;
    
}

.höger img{
height: 100%;
width: 100%;
object-fit: 100%;
}

.botbot{
display: flex;
justify-content: center;
border: solid red;
}